@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Inter:wght@400;700&family=Lexend+Deca&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@500&display=swap');


* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

/*NAVBAR*/

nav {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 2rem;
    border-top: 3px solid transparent;
    
}

nav a:hover {
    border-top-color: #0065fc;
}

#logo {
    margin-right: auto;
    padding: 0 2rem;
}

.signup {
    font-weight: bold;
    color: #0065fc;
}

.sub-nav {
    display: flex;
}

.sub-nav a:hover {
    color: #0065fc;
}

/*BODY*/

.wrapper {
    padding: 0 2rem;
}

.wrapper h1, .wrapper p{
    margin-bottom: 1rem;
}

/*SEARCH-FORM*/

.search-form {
    display: flex;
    align-items: center;
}

.search-form * {
    padding: 1rem 1.5rem;
}

.search-form i {
    padding: 0.75rem 0.6rem;
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;
}

.search-form input {
    padding: 1.4rem;
    flex-basis: 16rem;
    border: 1px solid lightgrey;
}

.search-form input::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    
}

.search-form button {
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
    font-weight: bold;
    padding: 1.3rem 1.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 200ms;
    
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
}
    


@media (max-width: 800px) {
    .sub-nav {
        order: 1;
       flex-basis: 100%;
    }
    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;
    }
    .sub-nav a:hover {
        border-bottom-color: #0065fc;
        border-top-color: transparent;
    }
    
}




/*Reservia 11 Search Form Animation : 2:15*/