@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Inter:wght@400;700&family=Lexend+Deca&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@500&display=swap');


* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 2rem;
    border-top: 3px solid transparent;
    
}

nav a:hover {
    border-top-color: #0065fc;
}

#logo {
    margin-right: auto;
    padding: 0 2rem;
}

.signup {
    font-weight: bold;
    color: #0065fc;
}

.sub-nav {
    display: flex;
}

.sub-nav a:hover {
    color: #0065fc;
}

    


@media (max-width: 800px) {
    .sub-nav {
        order: 1;
       flex-basis: 100%;
    }
    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;
    }
    .sub-nav a:hover {
        border-bottom-color: #0065fc;
        border-top-color: transparent;
    }
    
}




/*Reservia 08 Headings and Search Form : */